@import url(header.css);
@import url(searchform.css);
@import url(fonts.css);
@import url(footer.css);
@media screen and (min-width:767px){
	.tab-pane .opener{display:none;}
}
@media screen and (max-width:767px){
	.tab-pane .opener{display:block;padding:5px 10px;border:1px solid #ddd;}
	.tab-pane.open .opener{background:#000;color:#fff;}
	.tab-content > .tab-pane{display:block!important;}
	.tab-content > .tab-pane.fade{opacity:1!important;visibility:visible!important;}
	.nav-tabs{display:none;}
	.tab-content > .tab-pane .data{opacity:0;visibility:hidden;max-height:0;transition:all linear 0.3s;-webkit-transition:all linear 0.3s;-ms-transition:all linear 0.3s;}
	.tab-content > .tab-pane.open .data{opacity:1!important;visibility:visible;max-height:8000px;padding:15px 0;}
}