/*--Font Awesome--*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*--Main Container--*/
#wrapper{
	position: relative;
	overflow: hidden;
	height: 100%;
	min-height: 600px;
}
.resize-active .hold {
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
input:focus, textarea:focus{
	outline: none !important;
	box-shadow: none !important;
}
/*--Header--*/
#header{
	position: relative;
	z-index: 999;
	background: #fff;
}
#header.clone {
	top:-111px;
	transition: all linear 0.2s;
	-webkit-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	position: absolute;
	width: 100%;
	visibility:hidden;
	border-bottom:2px solid #054fad;
}
#header.clone.fixed {
	position: fixed;
	z-index: 9995;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	visibility:visible;
}
/*--Logo--*/
.navbar-brand{
	padding: 0;
}
.navbar-brand img{
	width: 100%;
	height: auto;
	display: block;
}
#header .navbar-nav>li{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.navbar-light .navbar-nav .nav-link{
	padding: 10px 22px;
	line-height: 21px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	background: none;
	color: #f7c155;
}
.navbar-nav > li ul{
	position: absolute;
	width: 200px;
	left: 0;
	top: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transition:all linear 0.2s;
	-webkit-transition:all linear 0.2s;
	-ms-transition:all linear 0.2s;
	font-weight: 400;
	text-transform: capitalize;
}
.navbar-nav > li ul li{
	border-bottom:1px solid #ccc;
	position: relative;
}
.navbar-nav > li ul li.has-drop-down{
	background: #ccc;
}
.navbar-nav > li ul ul{
	left: auto;
	right: 100%;
	top: 0;
}
.navbar-nav > li ul ul a{
	padding-left: 20px;
}
.navbar-nav > li ul ul ul a{
	padding-left: 30px;
}
.navbar-nav li li a{
	padding: 5px 10px;
	display: block;
	color: #000;
}
.navbar-nav li li a:hover{
	text-decoration: none;
	background: #054fad;
	color: #fff;
}
.navbar-nav li .opener{display: none;}
.navbar-nav > li ul li.has-drop-down>a{background: #ccc;}
.has-drop-down-a {
	position: relative;
}
.navbar-nav li li>.has-drop-down-a {
	position: relative;
}
.navbar-nav li li>.has-drop-down-a:after{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	border:5px solid transparent;
	border-top-color: #000;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.navbar-nav li li.hover>.has-drop-down-a:after{
	border-top-color: transparent;
	border-bottom-color: #000;
}
/*--nav--*/
@media screen and (min-width:768px){
	.navbar-nav > li .opener{display: none;}
}
@media screen and (min-width:1025px){
	.navbar-nav > li:hover > ul, .navbar-nav > li ul li:hover > ul{
		opacity: 1;
		visibility: visible;
	}
}
@media screen and (max-width:1024px){
	.navbar-nav > li.hover> ul, .navbar-nav > li ul li.hover > ul{
		opacity: 1;
		visibility: visible;
	}
	.navbar-light .navbar-nav .nav-link{
		padding: 10px 13px;
		font-size: 15px;
	}
}
@media screen and (max-width:991px){
	.navbar-nav > li{
		display: inline-block;
		float: none !important;
		text-align: left;
	}
	.navbar-nav > li ul ul{
		position: static;
		max-height: 0;
	}
	.navbar-nav > li ul li.hover>ul{
		max-height: 400px;
	}
}
@media screen and (max-width:767px){
	/*--Header--*/
	#header{z-index: 9999;}
	#header.clone{display: none !important;}
	html.nav-open{
		overflow-y: hidden;
		position: relative;
		height: 100%;
	}
	html.nav-open body{
		overflow-y: hidden;
		position: relative;
		height: 100%;
	}
	#header .container{padding: 0;}
	.navbar-nav > li ul li{border-bottom:none;}
	.navbar-nav li a{border-bottom:1px solid #ddd;}
	.navbar-nav li li a{
		line-height: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
		color: #000;
	}
	.navbar-nav li li a:hover{
		background: #054fad;
		color: #fff;
		text-decoration: none;
	}
	.navbar-nav li .opener{
		width: 50px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 999;
		text-indent: -999px;
		overflow: hidden;
		background: #eee !important;
		height: 40px;
		border-left:1px solid #ddd;
		border-bottom:none!important;
		display: block;
	}
	.navbar-nav li{
		overflow: hidden;
		display: block;
	}
	.navbar-nav > li ul{
		position: relative;
		opacity: 1;
		visibility: visible;
		max-height: 0;
		width: 100%;
		z-index: 99;
		top: 0;
		left: 0 !important;
		right: auto !important;
		background: #fff;
	}
	.navbar-toggler{
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	.navbar-nav > li.hover > ul, .navbar-nav > li ul li.hover > ul{max-height: 400px;}
	.nav-open .nav li>li{display: none;}
	.nav-open .nav li.hover{
		position:relative;
		width: 100%;
		z-index: 999;
		background: #eee;
		top: 0;
		overflow: hidden;
		display: block !important;
	}
	#header .navbar-nav>li{
		display: block;
	}
	#header .navbar-collapse{
		padding: 0;
		margin: 0;
		background: #213d87;
	}
	.nav-open .nav	 li > a.opener:after{
		position: absolute;
		width: 10px;
		height: 10px;
		border:2px solid transparent;
		border-color: #000 #000 transparent transparent;
		transform: rotate(45deg) translateY(-50%);
		-ms-transform: rotate(45deg) translateY(-50%);
		-webkit-transform: rotate(45deg) translateY(-50%);
		left: 10px;
		top: 50%;
		content: '';
	}
	.nav-open .nav	 li.hover > a.opener:after{
		position: absolute;
		width: 10px;
		height: 10px;
		border:2px solid transparent;
		border-color:transparent transparent #000 #000 ;
		transform: rotate(45deg) translateY(-50%);
		-ms-transform: rotate(45deg) translateY(-50%);
		-webkit-transform: rotate(45deg) translateY(-50%);
		left: 10px;
		top: 50%;
		content: '';
	}
	.navbar-collapse, .navbar-collapse.collapse {
		position: fixed;
		left: -245%;
		top: 0;
		width: 245px;
		background: #213d87;
		height: 100vh !important;
		max-height: 100%;
		z-index: 99999;
		transition: all linear 0.2s;
		-webkit-transition: all linear 0.2s;
		-ms-transition: all linear 0.2s;
		border: none;
		overflow: auto;
	}
	.navbar-right{text-align: left;}
	.navbar-collapse.collapse:before{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		content: 'Menu';
		text-align: center;
		width: 100%;
		padding:14px 10px;
		font:18px/21px 'Montserrat', sans-serif;
		color: #fdd901;
		font-weight: 700;
		border-bottom:2px solid #fdd901;
		display: block;
	}
	#header .navbar-nav {
		padding: 52px 0 0; 
		margin: 0;
	}
	.navbar-collapse.collapse { display: block !important; }
	.nav-open .navbar-collapse { left: 0; }
	.navbar-toggler{
		height: 40px;
		z-index: 9999;
	}
	.nav-open .navbar-toggler .sr-only + .icon-bar{display: none;}
	.nav-open .navbar-toggler .icon-bar + .icon-bar{
		margin: 0;
		transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
	}
	.nav-open .navbar-toggler .icon-bar:last-child{
		transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		margin-top: -2px;
	}
}