/*--search Form--*/
.search-form{
	float: right;
	position: relative;
	width: 48px;
	height: 48px;
	margin-left: 15px;
}
.search-form .input{
	max-width: 250px;
	background: #fff;
	height: 100%;
	border:2px solid #054fad;
	z-index: 99;
	padding:10px 15px;
	color: #054fad;
}
.search-form button[type=submit]{
	width: 48px;
	height: 48px;
	border:2px solid #054fad;
	display: block;
	text-align: center;
	line-height: 44px;
	position: absolute;
	top: 0;
	right: 0;
	color: #000;
	background: #fff;
}
.search-form .field{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	transition:all linear 0.2s;
	-webkit-transition:all linear 0.2s;
	-ms-transition:all linear 0.2s;
}
.search-form.open .field{
	opacity: 1;
	visibility: visible;
}
.search-form a{
	width: 48px;
	height: 48px;
	border:2px solid #ddd;
	display: block;
	text-align: center;
	line-height: 44px;
	color: #000;
}
.search-form a:after{
	position: absolute;
	left: 0;
	top: 0;
	border: 20px solid transparent;
	border-left-color: #ddd;
	border-top-width: 0;
	content: '';
}
.search-form a i{pointer-events: none;}
@media screen and (max-width:767px){
	/*--search Form--*/
	.search-form{
		width: 100%;
		float: none;
		display: block;
		margin:10px 0 0;
	}
	.search-form a{display: none;}
	.search-form .field{
		width: 100%;
		opacity: 1;
		visibility: visible;
	}
	.search-form .input{
		max-width: inherit;
		width: calc(100% - 46px);
	}
}